<div class="container-fluid">
  <div class="inner-page">
    <div class="row">
      <!-- sidebar  -->
      <div class="col-md-2">
        <app-sidebar></app-sidebar>
      </div>
      <!-- sidebar end-->

      <!-- main content  -->

      <!-- Profile sidebar-->
      <div class="col-md-10">
        <aside class="profile-innerpage">
          <div class="course-dashboard">
            <div class="profile-heading">
              <h5>Active Courses</h5>
            </div>
            <div class="row">
              <div class="col-md-3">
                <mat-card class="course-card">
                  <img mat-card-image src="../../assets/img/course1.png" alt="course">
                  <mat-card-content>
                    <a (click)="openDashboardCourseView()">
                      <div class="price">
                        <h6>$79</h6>
                      </div>
                      <h5>Courses Name</h5>
                      <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <span>5.0 (rating)</span>
                      </div>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                      <ul class="type">
                        <li><span><i class="fas fa-book">&nbsp;</i></span> 25 lessons</li>
                        <li><span><i class="fas fa-video">&nbsp;</i></span> 15 Videos</li>
                      </ul>
                    </a>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-3">
                <mat-card class="course-card">
                  <img mat-card-image src="../../assets/img/course1.png" alt="course">
                  <mat-card-content>
                    <a href="#">
                      <div class="price">
                        <h6>$79</h6>
                      </div>
                      <h5>Courses Name</h5>
                      <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <span>5.0 (rating)</span>
                      </div>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                      <ul class="type">
                        <li><span><i class="fas fa-book">&nbsp;</i></span> 25 lessons</li>
                        <li><span><i class="fas fa-video">&nbsp;</i></span> 15 Videos</li>
                      </ul>
                    </a>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div class="profile-heading">
              <h5>Add Courses</h5>
            </div>
            <div class="course-add">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Course Name</mat-label>
                    <input [(ngModel)]="course.name" matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Course Category</mat-label>
                    <mat-select [(ngModel)]="categoryrr" (valueChange)="SelectCat($event)">
                      <mat-option *ngFor="let cat of category" [value]="cat">
                        {{cat.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Sub Category</mat-label>
                    <mat-select [(ngModel)]="SubCategoryrrr" (valueChange)="SelectSubCat($event)">
                      <mat-option *ngFor="let SuCat of selectSubCat" [value]="SuCat">
                        {{SuCat.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label> ₹ Amount </mat-label>
                    <input type="number" [(ngModel)]="course.amount" matInput>
                  </mat-form-field>
                </div>
                
                <!-- <div class="col-md-4">

                  <mat-label>Upload Thumbnail</mat-label><br>
                  <div>
                    <ng-container>
                      <input type="file" id="file" multiple (change)="getimgFileDetails($event)">

                      <button mat-raised-button color="primary" (click)="uploadFiles()">Upload</button> 
                    </ng-container>
                  </div>
             <pre>{{myFiles | json}}</pre> 
                  <div *ngFor="let file of imgFiles">
                    <div>* {{file.name}} - {{file.type}} - {{file.size}}</div>
                  </div>

                </div> -->
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-label>Course Description</mat-label>
                    <textarea matInput [(ngModel)]="course.description"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-md-12 mb-3">

                  <mat-label>Upload Video</mat-label><br>
                  <div>
                    <ng-container>
                      <input type="file" id="file" multiple (change)="getFileDetails($event)">

                      <!-- <button mat-raised-button color="primary" (click)="uploadFiles()">Upload</button> -->
                    </ng-container>
                  </div>
                  <!-- <pre>{{myFiles | json}}</pre> -->
                  <div *ngFor="let file of myFiles">
                    <div>* {{file.name}} - {{file.type}} - {{file.size}}</div>
                  </div>

                </div>
                <div class="col-md-12">
                  <button mat-raised-button color="primary" (click)="submit(course)">Save</button>
                </div>
              </div>
            </div>
          </div>



        </aside>
      </div>
      <!-- Profile sidebar end-->


    </div>
  </div>
</div>
