<div class="container-fluid">
  <div class="inner-page">
	<div class="row">
    <!-- sidebar  -->
		<div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <!-- sidebar end-->

    <!-- main content  -->

    <!-- Profile sidebar-->
		<div class="col-md-10">
			<aside class="profile-innerpage">
				<div class="course-dashboard">
          <div class="profile-heading">
            <h5>Chats</h5>
            </div>



            </div>



			</aside>
    </div>
    <!-- Profile sidebar end-->


	</div>
</div>
</div>
