<!-- sidebar  -->
<nav>
  <ul>
    <li class="active"><a (click)="openDashboard()"><i class="fas fa-columns"></i>Dashboard</a>
    </li>
    <li><a (click)="openDashboardProfile()"><i class="far fa-folder"></i>Profile</a>
    </li>
    <li><a (click)="openDashboardCourse()"><i class="fas fa-book"></i>Courses</a>
    </li>
    <li class="learningPlan"><a (click)="openDashboardRevenue()"><i class="far fa-calendar"></i>Revenue</a>
    </li>
    <li><a (click)="openDashboardChat()"><i class="far fa-comment"></i>Chat<span class="messageCount">3</span></a>
    </li>
  </ul>
</nav>
<!-- sidebar end-->
