<div class="course-detail">
    <div class="course-header">
        <div class="container">
            <div class="heading-top">
                <h1>GENERAL</h1>
            </div>
        </div>
    </div>
    <div class="course-content">
        <div class="container">
            <div class="course-pagination">
              <ul id="breadcrumbs">
                <li><a href="#">Home</a></li>
                <li><a href="#">Category</a></li>
                <li>Design</li>
              </ul>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="content-left">
                        <div class="course-heading">
                            <h2>LMS Interactive Content</h2>
                        </div>
                        <div class="row">
                          <div class="col-md-8">
                              <ul class="intructor-profile">
                                  <li>
                                    <img src="../../assets/img/intructor-1.jpg" class="img-fluid" alt="intructor"/>
                                  </li>
                                  <li>
                                      <p class="light">Teacher</p>
                                      <p>Keeny Willson</p>
                                  </li>
                                  <li>
                                      <p class="light">Category</p>
                                      <p>Design</p>
                                  </li>
                              </ul>
                            </div>
                            <div class="col-md-4">
                              <ul class="price-course">
                                  <li>
                                      <h6>$ 300</h6>
                                  </li>
                                  <li>
                                   <div class="cmn-btn">
                                     <button>Book Now</button>
                                    </div>
                                 </li>
                              </ul>
                          </div>
                    </div>
                    <div class="demo-video">
                      <video width="100%" height="100%" controls>
                        <source src="../../assets/video/home-about.mp4" type="video/mp4">
                        <source src="../../assets/video/movie.ogg" type="video/ogg">
                      </video>
                    </div>
                    <div class="course-description">
                      <mat-tab-group>
                        <mat-tab label="Overview">
                            <div class="overview">
                              <h4>COURSE DESCRIPTION</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam vulputate ut pharetra sit amet aliquam. Ut eu sem integer vitae justo eget magna fermentum. Morbi tristique senectus et netus et malesuada fames. Morbi tristique senectus et netus et malesuada fames ac turpis. Volutpat blandit aliquam etiam erat velit. Gravida neque convallis a cras semper. Gravida cum sociis natoque penatibus et magnis dis parturient. Tincidunt nunc pulvinar sapien et ligula. Faucibus turpis in eu mi bibendum. Dolor sit amet consectetur adipiscing elit pellentesque. Tortor vitae purus faucibus ornare suspendisse sed nisi. Sit amet volutpat consequat mauris nunc congue nisi vitae suscipit. Vitae purus faucibus ornare suspendisse. Morbi tincidunt ornare massa eget egestas. Et magnis dis parturient montes nascetur ridiculus mus mauris vitae.
                              </p>
                              <h4>LEARNING OUTCOMES</h4>
                              <ul>
                                <li><p>Over 37 lectures and 55.5 hours of content!
                                </p></li>
                                <li><p>Testing Training Included.
                                </p></li>
                                <li><p>Learn Software Testing and Automation basics from a professional trainer from your own desk.
                                </p></li>
                                <li><p>Information packed practical training starting from basics to advanced testing techniques.
                                </p></li>
                                <li><p>Best suitable for beginners to advanced level users and who learn faster when demonstrated.</p></li>
                                <li><p>Course content designed by considering current software testing technology and the job market.</p></li>
                              </ul>
                              <h4>CERTIFICATION</h4>
                              <p>As a powerful high-quality LMS for WordPress, LearnPress is the best choice for any instructor, teacher, school, university, education project, eLearning and online course websites.</p>
                            </div>
                        </mat-tab>
                        <mat-tab label="Curriculum">
                              <div class="curriculum">
                                  <h5>LEARNPRESS INTERACTIVE CONTENT</h5>
                                    <ul>
                                      <li>
                                          <div class="index">
                                            <p>Lecture 1</p>
                                          </div>
                                          <span>Interactive Video</span>
                                          <a href="#">Free</a>
                                      </li>
                                      <li>
                                          <div class="index">
                                            <p>Lecture 2</p>
                                          </div>
                                          <span>What is LearnPress</span>
                                      </li>
                                      <li>
                                          <div class="index">
                                            <p>Lecture 3</p>
                                          </div>
                                          <span>How to use LearnPress</span>
                                      </li>
                                      <li>
                                          <div class="index">
                                            <p>Lecture 4</p>
                                          </div>
                                          <span>Certificate add-on</span>
                                      </li>
                                      <li>
                                          <div class="index">
                                            <p>Lecture 5</p>
                                          </div>
                                          <span>WooCommerce payments add-on</span>
                                      </li>
                                      <li>
                                          <div class="index">
                                            <p>Lecture 6</p>
                                          </div>
                                          <span>Co-instructors add-on</span>
                                      </li>
                                    </ul>
                             
                                  </div>
                        </mat-tab>
                        <mat-tab label="Instructor">
                          <div class="instructor">
                            <ul class="intructor-profile">
                              <li>
                                <img src="../../assets/img/intructor-1.jpg" class="img-fluid" alt="intructor"/>
                              </li>
                              <li>
                                  <p>Keeny Willson</p>                                  
                                  <p class="light">Teacher</p>
                              </li>
                              <li>
                                  <p class="light">Category</p>
                                  <p>Design</p>
                              </li>
                          </ul>
                          <p>Keny White is Professor of the Department of Computer Science at Boston University, where he has been since 2004. He also currently serves as Chief Scientist of Guavus, Inc. During 2003-2004 he was a Visiting Associate Professor at the Laboratoire d'Infomatique de Paris VI (LIP6). He received a B.S. from Cornell University in 1992, and an M.S. from the State University of New York at Buffalo.</p>
                          </div>
                        </mat-tab>
                        <!-- <mat-tab label="Reviews">

                        </mat-tab> -->
                        </mat-tab-group>
                    </div>
                </div>

              </div>
              <div class="col-md-3">
                <div class="all-course">
                  <h5>ALL COURSES</h5>
                  <ul>
                    <li><a href="">BACKEND</a></li>
                    <li><a href="">CSS</a></li>
                    <li><a href="">FRONTEND</a></li>
                    <li><a href="">GENERAL</a></li>
                    <li><a href="">IT & SOFTWARE</a></li>
                    <li><a href="">PHOTOGRAPHY</a></li>
                    <li><a href="">TECHNOLOGY</a></li>
                  </ul>
                </div>
                <div class="latest-course">
                  <h5>LATEST COURSES</h5>
                  <div class="latest-box">
                    <img src="../../assets/img/course-latest.jpg" alt=""/>
                    <a href="">
                    <div class="course-description">
                      <p>Become a PHP Master and Make Money</p>
                      <p class="price">$30.00</p>
                    </div>
                  </a>
                  </div>
                  <div class="latest-box">
                    <img src="../../assets/img/course-latest.jpg" alt=""/>
                    <a href="">
                    <div class="course-description">
                      <p>Become a PHP Master and Make Money</p>
                      <p class="price">$30.00</p>
                    </div>
                  </a>
                  </div>
                  <div class="latest-box">
                    <img src="../../assets/img/course-latest.jpg" alt=""/>
                    <a href="">
                    <div class="course-description">
                      <p>Become a PHP Master and Make Money</p>
                      <p class="price">$30.00</p>
                    </div>
                  </a>
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>
</div>
