<div class="container-fluid">
  <div class="inner-page">
	<div class="row">
    <!-- sidebar  -->
		<div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <!-- sidebar end-->

    <!-- main content  -->

    <!-- Profile sidebar-->
		<div class="col-md-10">
			<aside class="profile-innerpage">
				<div class="profile">
          <div class="profile-pic">
            <img src="../../assets/img/female-icon.jpg" class="img-fluid " alt="male"/>
         </div>
        </div>
        <div class="form-profile">
          <div class="profile-heading">
            <h5>Personal Details</h5>
            <a (click)="openDashboardProfile()" >+ Edit</a>
            </div>
          <table class="vertical-table" >
              <thead>
                  <tr>
                      <th colspan="6">First Name </th>
                  </tr>
                  <tr>
                      <th colspan="6">Last Name </th>
                  </tr>
                  <tr>
                      <th colspan="6">Email </th>
                  </tr>
                  <tr>
                      <th colspan="6">Date of Birth </th>
                  </tr>
                  <tr>
                      <th colspan="6">Phone no. </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Anna</td>
                  </tr>
                  <tr>
                      <td>Morris</td>
                  </tr>
                  <tr>
                      <td>anna.morris@gmail.com</td>
                  </tr>
                  <tr>
                      <td>03/05/1994</td>
                  </tr>
                  <tr>
                      <td>+91 88 022 42792</td>
                  </tr>
              </tbody>
          </table>
          <br/>
          <div class="profile-heading">
            <h5>Bank Details</h5>
            <a (click)="openDashboardProfile()" >+ Edit</a>
            </div>
          <table class="vertical-table" >
              <thead>
                  <tr>
                      <th colspan="6">First Name </th>
                  </tr>
                  <tr>
                      <th colspan="6">Last Name </th>
                  </tr>
                  <tr>
                      <th colspan="6">Bank Name </th>
                  </tr>
                  <tr>
                      <th colspan="6">Branch Name </th>
                  </tr>
                  <tr>
                      <th colspan="6">Account No. </th>
                  </tr>
                  <tr>
                      <th colspan="6">Re-enter Account No. </th>
                  </tr>
                  <tr>
                      <th colspan="6">IFSC Code </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Anna</td>
                  </tr>
                  <tr>
                      <td>Morris</td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
              </tbody>
          </table>


        </div>


			</aside>
    </div>
    <!-- Profile sidebar end-->


	</div>
</div>
</div>
