<div class="container-fluid">
  <div class="inner-page">
	<div class="row">
    <!-- sidebar  -->
		<div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <!-- sidebar end-->

    <!-- main content  -->

    <!-- Profile sidebar-->
		<div class="col-md-10">
			<aside class="profile-innerpage">
				<div class="course-dashboard">
          <div class="profile-heading">
            <h5>View Course</h5>
            <a (click)="openDashboardCourseEdit()">+ Edit</a>
          </div>
          <table class="vertical-table" >
            <thead>
                <tr>
                    <th colspan="6">Name of Course </th>
                </tr>
                <tr>
                    <th colspan="6">Category </th>
                </tr>
                <tr>
                    <th colspan="6">Amount</th>
                </tr>
                <tr>
                    <th colspan="6">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mathematics</td>
                </tr>
                <tr>
                    <td>Education</td>
                </tr>
                <tr>
                    <td>$ 400</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</td>
                </tr>
            </tbody>
        </table>

        <div class="view-video">
          <p> Active VIdeo</p>
          <ul>
            <li>
              <img src="../../assets/img/course1.png" alt="video 1" class="img-fluid" />
            </li>
            <li>
              <img src="../../assets/img/course1.png" alt="video 1" class="img-fluid" />
            </li>
            <li>
              <img src="../../assets/img/course1.png" alt="video 1" class="img-fluid" />
            </li>
          </ul>
      </div>

        </div>



			</aside>
    </div>
    <!-- Profile sidebar end-->


	</div>
</div>
</div>
