<div class="course-detail">
  <div class="course-header">
      <div class="container">
          <div class="heading-top">
              <h1>Towards a brighter future</h1>
              <h4>Share your knowledge and start earning</h4>
          </div>
      </div>
  </div>
  <div class="course-content">
      <div class="container">
          <div class="teach-content">
            <div class="author-section">
              <h3>Why teach on Eduru?</h3>
              <p><i>‘The mediocre teacher tells. The good teacher explains. The superior teacher demonstrates. The great teacher inspires.’</i></p>
              <p class="author"><i> ― William Arthur Ward</i></p>
            </div>
              <p>  Inspire and lead thousands of students towards a brighter future with Eduru by showcasing and sharing your knowledge and earning money by sitting at home. </p>
              <p>Teaching with Eduru is simple and hassle free, as your e-learning partner we will manage the marketing and accounting. The only investment you will have to make is your time.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Faucibus in ornare quam viverra orci. Ac orci phasellus egestas tellus. Eget dolor morbi non arcu risus quis. Pharetra convallis posuere morbi leo. Eget sit amet tellus cras. Fermentum leo vel orci porta non pulvinar neque laoreet. Dui vivamus arcu felis bibendum ut tristique. Eget egestas purus viverra accumsan in nisl nisi. Nulla facilisi cras fermentum odio eu. Purus in mollis nunc sed id. Id consectetur purus ut faucibus pulvinar elementum integer. Felis imperdiet proin fermentum leo vel orci. Ultricies lacus sed turpis tincidunt id aliquet. Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Elementum tempus egestas sed sed. Nunc lobortis mattis aliquam faucibus purus.</p>
            <div class="row mt-4">
              <div class="col-md-4 col-sm-4">
                <mat-card class="card-detail">
                  <img src="../../assets/img/money.png" alt="EXPERT INSTRUCTION" class="icon-card"/>
                  <mat-card-content>
                    <h5>EARN MONEY</h5>
                    <p>
                      No Limitation on earning. Earn every time a student purchases your course
                    </p>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-4 col-sm-4">
                <mat-card class="card-detail">
                  <img src="../../assets/img/social-care.png" alt="EXPERT INSTRUCTION" class="icon-card"/>
                  <mat-card-content>
                    <h5> BUILD YOUR COMMUNITY</h5>
                    <p>
                      Connect and network with students through student teacher dashboard and build your community
                    </p>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-4 col-sm-4">
                <mat-card class="card-detail">
                  <img src="../../assets/img/internet-explorer.png" alt="EXPERT INSTRUCTION" class="icon-card"/>
                  <mat-card-content>
                    <h5> HELP IN EXPLORING </h5>
                    <p>
                      Help students to discover their potential and creativity
                    </p>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            </div>
      </div>
  </div>
</div>
