
$purple: #3d2768;
$grey  : #6c757d;


.card {
    border-radius: 0px !important;
    min-width    : 500px;
    min-height   : 300px;
}

.card-header {
    background-color: $purple;
    border-radius   : 0px !important;
    margin          : 0;
}

.text-grey {
    color: $purple;
}

.btn-primary {
    background-color: $purple;
    border          : 0px transparent;
    font-family: "Montserrat", sans-serif;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:disabled
    {
      opacity: 0.9;
}

.purple {
    background-color: $purple;
}

.collapse {
    display: none !important;
}

.shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}
.no-padd{
  padding: 0;
}
@media screen and (max-width: 766px) {
    .left {
        display: none;
    }
    .card-header {
        display: none;
    }
    .collapse {
        display: flex !important;
    }
}

.no-margin{
  margin: 0;
}
      .card {
        .logo{
          margin:auto;
          width: 20%;
        }
        .register{
          text-align: center;
          margin-top: 5px;
          a{
            font-weight: bold;
            cursor: pointer;
            color: #000;
          }
        }
        .forget{
          text-align: right;
          padding-right: 5px;
          margin-bottom: 0;
          a{
            font-weight: 500;
            color: #6c757d ;
            font-size: 12px;
            cursor: pointer;
          }
        }
      }

      .login-section{
        background:$purple;
        .row{
          width:100%;
          .log-side{
            img{
              width:100%;
            }
          }
        }
      }
      .loader {
        .row{
          width: auto;
        }
      }
