<p>verify-otp works!</p>

<div class="login-section">
  <div class="row">
    <div class="col-md-6  log-side">
      <img src="../../assets/img/dashboard-login.jpg" class="img-fluid" alt="dashboard login">
    </div>
    <div class="col-md right">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="card shadow border-0 mx-auto">

            <div class="loader h-100">

              <div class="row">
                <div class="card-body p-5">

                  <h5 class="text-grey text-center mt-0 font-weight-bold">Please Enter Otp</h5>
                  <p class="text-center text-muted">OTP Sent OnYour email Account</p>
                  <div class="row mb-3 text-center">
                    <img src="../../../assets/img/login.png" class="mx-auto text-center" height="80" />
                  </div>
                  <!-- <form id="signIn"> -->
                  <div class="form-group p-1">
                    <!-- <label for="username text-muted">
                                             <h6 class="text-grey"><i class="fa fa-user"></i> Email</h6>
                                         </label> -->
                    <input name="username" placeholder="Please Enter Otp" type="number" [(ngModel)]="otp"
                      required="true" id="username" class="form-control">
                    <div class="invalid-feedback">Please Enter Otp</div>
                    <div class="row">
                      <button class="btn btn-primary mx-auto" [disabled]="!sendAgain" (click)="sendOtpAgain()">Send again
                        Otp
                      </button>
                      <div class="seconds">{{timeLeft}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <button class="btn btn-primary mx-auto" [disabled]="!otp" (click)="varifyOtpData(otp)">Varify Otp
                    </button>
                  </div>
                  <p class="register"> Welcome to abc pvt ltd.<a (click)="gosignin()"> Go Back</a></p>
                  <!-- </form> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
